<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blogs:home' %}">Develop..</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs:home' %}">Recent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs:daily' %}">내 이야기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs:skills'%}">기록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs:tips'%}">팁</a>
          </li>
          {% if request.user.is_autenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accountapp:home'%}">내정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accountapp:login'%}">로그아웃</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accountapp:login'%}">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accountapp:register'%}">회원가입</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>